/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {
    html, header {
        width: 850px;
    }
    /* header
    ----------------------------------------------------------*/
    
    /*header .float-left,
    header .float-right {
        float: none;
    }*/

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }
    .site-title a, .site-title a:hover, .site-title a:active {
        left: 9%;
    }
    .site-title img {
        height: 70px;
    }

    /* login */
    #login {
        /*font-size: .85em;*/
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        /*font-size: 1em;*/
        padding: 0 2px;
    }
        ul#menu ul {
            top: 26px;
        }
        ul#menu li {
            margin: 0;
            padding: 0;
        }

    /* slideshow*/
    #featured-photos li,
    #featured-photos li span {
        height: 240px;
    }

    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

/* featured */
    .featured .list-of-news {
        line-height: 20px;
        height: 100%;
    }
    
/* widget */
    .widget .calendar-widget h5 {
    display: block;
}
    .widget .calendar-widget .calendar,
    .widget .calendar-widget .event-text {
        display: inline-block;
        vertical-align: top;
    }
        .widget .calendar-widget .event-text div {
            padding: 4px;
        }

    .widget .facebook,
    .widget .sponsor,
    .widget .one-percent {
        width: 28%;
        display: inline-block;
        vertical-align: top;
    }

    .widget .facebook,
    .widget .sponsor {
        padding: 0 5% 0 0;
    }

    .widget .facebook h5,
    .widget .sponsor h5,
    .widget .one-percent h5 {
        font-size: 10pt;
    }

    .widget-gallery article {
        display: inline-block;
        padding-right: 5%;
    }
    .widget-gallery aside {
        display: inline-block;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}