html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(38, 18, 40);
    /*border-top: solid 10px #000;*/
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    /*padding-left: 3px;
    padding-right: 3px;*/
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:link {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 21pt;
}

h3 {
    font-size: 14pt;
}

h4 {
    font-size: 12pt;
}

h5, h6 {
    font-size: 11pt;
}


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}

    .main-content {
        /*background: url("../Images/accent.png") no-repeat;*/
        padding-left: 10px;
        padding-top: 30px;
    }

    .featured + .main-content {
        /*background: url("../Images/heroAccent.png") no-repeat;*/
    }

header {
    background-color: rgba(38, 18, 40, 0.8);
    position: absolute;
    z-index: 100;
    width: 100%;
}

    header .content-wrapper {
        margin: 0 auto;
    }
    
footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}

/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        position: absolute;
        left: 10%;
    }

    .site-title img {
    }

.language {
    position:absolute;
    top: 4px;
    left:1%;
}
    .language img {
    }

/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: 10pt;
    margin: 0 0 10px;
    text-align: right;
    color: #aaa;
}
    #login a {
        font-weight: 500;
        color: #aaa;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }
        #login a:hover {
            background-color: rgba(207, 157, 247, 0.3);
        }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 13pt;
    font-weight: normal;
    margin: 0;
    text-align: right;
    padding-top: 15px;
}

    ul#menu > li {
        display: inline;
        list-style: none;
        position: relative;
        margin-left: 20px;
    }
    ul#menu a {
        background: none;
        color: #999;
        text-decoration: none;
    }
        ul#menu a:hover {
            color: #eee;
            text-decoration: none;
        }
    ul#menu > li > a {
        display: inline-block;
        padding-bottom: 20px;
    }

    ul#menu ul {
        list-style: none;
        display: none;
        background-color: rgba(38, 18, 40, 0.8);
        text-align: left;
        margin: 0;
        padding: 0 10px 4px;
        position: absolute;
        left: -12px;
    }
        ul#menu ul li {
            padding: 4px;
        }
        ul#menu ul a {
            font-size: 11pt;
            white-space: nowrap;
        }

/* slideshow
-----------------------------f-----------------------------*/
#featured-photos {
    background-color: rgb(38, 18, 40);
    text-align: center;
}
    #featured-photos ul {
        margin: 0;
        padding: 0;
    }
    #featured-photos li {
        height: 420px;
        width: 100%;
        max-width: 1600px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
    }
    #featured-photos ul li {
        float: left;
    }
        #featured-photos ul li:not(:first-of-type) {
            display:none;
        }

/* site-navigation
----------------------------------------------------------*/

ul#site-nav {
    font-size: 0.9em;
    margin: -20px 0 20px;
    padding: 0;
}

    ul#site-nav > li {
        display: inline;
        list-style: none;
        color: #222;
        position: relative;
    }

        ul#site-nav > li:not(:first-child):before {
            content: ">";
            padding: 4px;
        }

    ul#site-nav .site-nav-new {
        margin-left: 20px;
        padding: 3px 12px;
        font-weight: bold;
        background-color: rgba(38, 18, 40, 0.1);
    }
    ul#site-nav li.site-nav-new:before {
        content: "";
        padding: 0;
    }

    ul#site-nav a {
        color: #222;
        padding: 0;
    }
        ul#site-nav a:hover {
            color: #666;
            text-decoration: none;
        }
        
    ul#site-nav ul {
        visibility: hidden;
        margin-left: 18px;
        background-color: #EFEEEF;
        border: solid 1px #666;
        position: absolute;
        left: 0;
        top: 18px;
        list-style: none;
        padding: 2px;
    }
    ul#site-nav li:hover ul {
        visibility: visible;
    }
        ul#site-nav ul li {
            padding: 2px 12px;
        }

/* page elements
----------------------------------------------------------*/
/* content */
article {
    float: left;
    width: 70%;
}
aside {
    float: right;
    width: 25%;
}

.label {
    font-weight: 700;
}

h5 {
    width: 100%;
    background-color: rgba(38, 18, 40, 0.7);
    text-transform: uppercase;
    line-height: 34px;
    color: #eee;
    margin: 0 -20px;
    padding: 0 20px;
    /*position: absolute;
    top: 0;*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 3px 5px 0px rgba(50, 50, 50, 0.75);
}
    h5 a:link, h5 a:visited {
        color: #eee;
    }

/* left menu */
.left-menu {
    float: left;
    width: 300px;
    height: 100%;
}
    .left-menu ul {
        list-style: none;
    }
    .left-menu > ul {
        margin: 0 30px 0 0;
        padding: 10px 20px;
        border: 1px solid rgb(38, 18, 40);
        background-color: rgba(38, 18, 40, 0.1);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        -webkit-box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    2px 3px 5px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         2px 3px 5px 0px rgba(50, 50, 50, 0.75);
    }
    .left-menu li {
        line-height: 32px;
        font-weight: bold;
    }
    .left-menu ul li ul {
        padding-left: 20px;
    }
    .left-menu ul li ul li {
        line-height: normal;
        font-weight: normal;
    }
    .left-menu h4 {
        margin: 20px 0 10px 10px;
    }

/* featured */
.featured {
}
    .featured h5 {
        position: absolute;
        top: 0;
    }
    .featured > div {
        position: relative;
        margin-bottom: 16px;
    }
    .featured img {
        width: 30%;
        padding-top:34px;
    }
        .featured .fancybox-list-item:not(:first-of-type) {
            display: none;
        }
    .featured div div {
        position: absolute;
        top: 44px;
        left: 32%;
    }
    .featured div p {
        margin-top: 0;
        text-align: justify;
        text-indent: 26px;
    }
    .featured div a {
        display: block;
        font-size: 11pt;
    }
    .featured div a:before {
        content: "";
    }
    
/* widget */
.widget {
}
    .widget > div {
        position: relative;
        margin-bottom: 10px;
    }
    .widget h5 {
        position: absolute;
        top: 0;
    }
    .widget div div {
        padding: 38px 10px 4px;
    }
    .widget div p {
        display: block;
        padding-top:40px;
    }
    .widget div img {
        width: 100%;
        padding-top: 34px;
    }

/* calendar wigget */
.widget .calendar div {
    padding: 0;
}

    .widget .calendar div:not(:first-of-type) {
        padding: 4px 0;
    }

.mark-training a.ui-state-default {
    background: #f0efff; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0efff 1%, #cbc3dd 50%, #f0efff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f0efff), color-stop(50%,#cbc3dd), color-stop(100%,#f0efff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f0efff 1%,#cbc3dd 50%,#f0efff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f0efff 1%,#cbc3dd 50%,#f0efff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f0efff 1%,#cbc3dd 50%,#f0efff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f0efff 1%,#cbc3dd 50%,#f0efff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0efff', endColorstr='#f0efff',GradientType=0 ); /* IE6-9 */
}

.mark-training a.ui-state-hover, 
.mark-training a.ui-state-active {
    background: wheat !important;
}

/* gallery widget */
.widget-gallery {
    /*float:left;*/
}
    .widget-gallery article {
        width: 62%;
    }
    .widget-gallery aside {
        width: 30%;
    }
    .widget-gallery a {
    }
    .widget-gallery article img {
        width: 48.3%;
    }
        .widget-gallery article a:last-of-type {
            padding-left: 10px;
            /*float: right;*/
        }
    .widget-gallery aside img {
        width: 100%;
    }

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 14pt;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        font-size: 13pt;
        padding: 3px 8px;
        margin-bottom: 18px;
        font-weight: bold;
        background-color: rgba(38, 18, 40, 0.1);
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input[type=text], input[type=password], select, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.1em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    resize: none;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0 none;
    /*width: 100%;*/
}

th {
    text-align: left;
    border: none 0px;
    padding: 4px 12px;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 4px 8px;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}

.edit textarea {
    width: 400px;
    height: 280px;
}

.purple th {
    background-color: rgba(38, 18, 40, 0.7);
    color: #eee;
}

/* pages
----------------------------------------------------------*/
h5 span {
    float: right
}

.page div img {
    float: left;
    margin-right: 12px;
}

.page p {
    text-align: justify;
    text-indent: 26px;
    line-height: 24px;
}

.page-footer {
    text-align: right;
}
    .page-footer div:last-of-type {
        font-weight: bold;
        font-style: italic;
        padding-top: 4px;
        font-size: 12pt;
        font-family: 'Book Antiqua';
    }

/* news */
.news {

}

/* gallery */
#gallery {
    display: inline;
}
    #gallery a {
        position: relative;
        display: inline-block;
    }
    #gallery img {
        padding: 8px;
    }
    #gallery div {
        position: absolute;
        display: none;
        left: 16px;
        top: 8%;
        line-height: 54px;
        color: white;
        font-size: 14pt;
        font-weight: bold;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

/* players */
#players {
    display: inline;
}
    #players a {
        display: inline-block;
    }
    #players img {
        padding: 8px;
    }
    #players div {
        text-align: center;
    }

/* window fancybox iframe
----------------------------------------------------------*/
#window-fancybox-nav a,
#window-fancybox-nav a:visited {
    background-color: #ccc;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    width: 100px;
}

#gallery.fancybox-iframe-photos img {
    padding: 0;
    border: 4px solid #EFEEEF;
}
#gallery.fancybox-iframe-photos img:hover {
    border: 4px solid rgb(38, 18, 40);
}
#gallery.fancybox-iframe-photos .selected img {
    border: 4px solid #937aff;
}