@model Diamonds.Models.HomeModel
@{
    ViewBag.Title = "Strona główna";
}

@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $(".featured div a").hover(function () {

        });
    });
</script>
}

<article class="featured content-wrapper">
    <div>
        <h5>@Html.ActionLink("Tytuł nagłówek tekstu pierwszego", "Index", "News", new { id = 1 }, null) </h5>
        <img src="~/Content/images/gallery/photo1.jpg" />
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    </div>
    <div class="featured-news">
        <h5><a href="#">Aktualności</a></h5>
        <img src="~/Content/images/gallery/photo2.jpg" />
        <img src="~/Content/images/gallery/photo1.jpg" />
        <img src="~/Content/images/gallery/photo3.jpg" />
        <div>
            @* Jest taki pomysł, żeby po najechaniu linku zmieniał się obrazek po lewej *@
            <a href="#">Długaśny tytuł pierwszej aktualności, mającej miejsce nie wiadomo gdzie</a>
            <a href="#">Drugi tytuł aktualności</a>
            <a href="#">Trzeci tytuł jakoś sobie tam radzi</a>
        </div>
    </div>
</article>

<aside class="widget">
    <div>
        <h5>Terminarz</h5>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    </div>
    <div>
        <h5>Wyniki</h5>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    </div>
</aside>

<section class="widget-gallery">
    <article class="widget">
        <div>
            <h5>Ostatnio dodane galerie zdjęć</h5>
            <div>
                <img src="~/Content/images/gallery/photo1.jpg" />
                <img src="~/Content/images/gallery/photo2.jpg" />
                <img src="~/Content/images/gallery/photo1.jpg" />
                <img src="~/Content/images/gallery/photo2.jpg" />
            </div>
        </div>
    </article>
    <aside class="widget">
        <div>
            <h5>Losowe zdjęcie</h5>
            <div><img src="~/Content/images/gallery/photo1.jpg" /></div>
        </div>
    </aside>
</section>