@if (Request.IsAuthenticated) {
    <text>
        Witaj, @Html.ActionLink(Membership.GetUser().UserName ?? Membership.GetUser().Email, "Index", "Profile", null, new { @class = "username" })!
        @using (Html.BeginForm("LogOff", "Profile", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Zarejestruj", "Register", "Profile")</li>
        <li>@Html.ActionLink("Zaloguj", "LogOn", "Profile")</li>
    </ul>
}
