@model string
@{
    ViewBag.Title = ViewBag.Lang["menu-" + Model];
}

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({ type: 'image' });
    });
</script>
}

<section class="content-wrapper page">
    <div>
        <h5>
            @ViewBag.Lang["menu-" + Model]
            @if (User.IsInRole("MODERATOR"))
            {
            <span><a href="@Url.Action("EditPage", "Localization" , new { name = Model, returnUrl =  Request.RawUrl })">@ViewBag.Lang["admin-edycja"]</a></span>
            }
        </h5>
        <div>@Html.Raw(ViewBag.Lang["page-" + Model])</div>
    </div>
</section>