@{
    ViewBag.Title = "_Window";
    Layout = null;
}
<html>
    <head>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </head>
    <body>
        <div id="body">
            @RenderBody()
        </div>
    </body>
</html>
