@model Diamonds.Models.Entities.User
@using Mvc.Mailer

<html>
	<head>
        <title>softball.pl</title>
	</head>
	<body>
        <table style="border-collapse: collapse; width: 600px">
            <tr>
                <td style="background-color: #562e71">
                    <a href="http://softball.pl">
                        <img src="@Url.Abs(Url.Content("~/Content/images/mailer/logo.png"))" />
                    </a>
                </td>
                <td style="background-color: #562e71;">
                    <a href="http://softball.pl" style="color: #fff; font-size: 13pt;">Warsaw Diamonds - softball.pl</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
		            @RenderBody()
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
        </table>
	</body>
</html>