@model Diamonds.Models.Entities.User
@using Mvc.Mailer

<p>Witaj, @Model.name</p>

<p>
    Poprosi³eœ(aœ) ostatnio o zresetowanie has³a na stronie softball.pl.<br />
    <a href="@Url.Abs(Url.Action("ChangeForgottenPassword", "Profile", new { email = Model.email, reset = ViewBag.salt }))">Kliknij tutaj, aby zmieniæ has³o.</a>
</p>

<hr />

<p><b>Nie prosi³eœ(aœ) o tê zmianê?</b><br />Jeœli nie prosi³eœ(aœ) o nowe has³o, zignoruj t¹ wiadomoœæ.</p>